@import 'vars'
@import 'fonts'
@import 'libs'
@import 'base'

//——————————————————————————————————————————————————
// Section: Header
//——————————————————————————————————————————————————

.header
	@extend %main-bg

	height: 100vh
	min-height: 850px
	max-height: 1200px
	padding-top: 14%

	text-align: center

	h1
		max-width: 750px
		margin: 0 auto 25px
		padding: 50px 0

		font-size: 55px
		line-height: 1.6

		border: 1px solid $border-color

		span
			color: $accent-color

	&-services
		a
			position: relative

			font-size: 13px
			text-transform: uppercase
			color: $main-color
			+transition(color)

			&:hover
				color: $hover-color

			&:not(:last-child)
				margin-right: 30px

				&::after
					content: ''
					position: absolute
					top: 2px
					right: -17px

					width: 2px
					height: 15px

					background-color: $hover-color

	&-scroll
		display: inline-block
		margin-bottom: 4%

		svg
			display: block
			width: 20px
			height: 20px

			fill: $accent-color
			+transition(fill)

		&:hover
			svg
				fill: $hover-color

.bottom-line
	position: absolute
	bottom: 30px
	left: 0
	width: 100%

	&-inner
		display: flex
		justify-content: space-between
		align-items: center

.site-logo
	width: 45px
	height: 45px

	font-size: 25px
	text-transform: uppercase
	line-height: 42px
	color: $accent-color

	border-radius: 50%
	border: 2px solid $accent-color
	+transition(all)

	&:hover
		color: $hover-color
		border-color: $hover-color

//——————————————————————————————————————————————————
// Section: Services
//——————————————————————————————————————————————————

.s-services
	background-color: $bg-color

	&-content
		@extend %s-padd

	&-inner
		display: flex
		justify-content: space-around

	&-item
		max-width: 230px

		>svg
			width: 21px
			height: 21px
			margin-bottom: 25px

			fill: $accent-color

		h3
			font-size: 30px

	p
		margin-bottom: 20px

		font-size: 14px
		line-height: 1.95
		color: $text-color

	&-hidden
		display: none

		& .container
			display: flex
			justify-content: space-between
			position: relative

	&-left,
	&-right
		width: 48%

	&-left
		padding-top: 145px
		text-align: right

		background: url(../images/s-services-bg.jpg) right center / cover no-repeat

		h3
			display: inline-block
			margin-bottom: 0
			padding: 15px 36px

			font-size: 30px
			color: #232323

			background-color: #fff

	&-right
		@extend %s-padd

		h4
			position: relative
			margin-bottom: 30px

			font-size: 17px
			font-weight: 600
			text-transform: uppercase
			line-height: .7

			@extend %pseudo-line

			&::before
				left: 2px

		p
			margin-bottom: 30px

		ul
			margin:
				top: 40px
				bottom: 64px

		li
			display: inline-block
			width: calc(50% - 4px)

			font-size: 15px
			font-weight: 600

			svg
				width: 16px
				height: 16px
				margin:
					top: -2px
					right: 8px

				fill: $accent-color

			&:not(:last-child)
				margin-bottom: 27px

	&-btn
		position: absolute
		bottom: 25px
		left: 40px

		padding: 0
		background: none

		svg
			width: 40px
			height: 40px

			fill: $text-color
			+transition(fill)

		&:hover
			svg
				fill: lighten($text-color, 25)


















@import 'media'
